[submodule "bundle/html5"]
	path = bundle/html5
	url = http://github.com/othree/html5.vim.git
[submodule "bundle/NERD_commenter"]
	path = bundle/NERD_commenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/sudo"]
	path = bundle/sudo
	url = git://github.com/vim-scripts/sudo.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = https://github.com/nelstrom/vim-markdown-preview.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/ManPageView"]
	path = bundle/ManPageView
	url = https://github.com/vim-scripts/ManPageView.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/strftimedamnit"]
	path = bundle/strftimedamnit
	url = https://github.com/sjl/strftimedammit.vim.git
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = git://github.com/vim-scripts/jsbeautify.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "bundle/vim-extradite"]
	path = bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = git://github.com/vim-scripts/nginx.vim.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/ajf/puppet-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/jquery"]
	path = bundle/jquery
	url = git://github.com/vim-scripts/jQuery.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go
