snippet php
	<?php ${1} ?>
snippet echo
	<?php ${1:$var} ?>
snippet foreach
	<?php foreach ($${1:variable} as $${2:key}${3: => $${4:value}}): ?>
		${5}
	<?php endforeach; ?>
snippet ifelse
	<?php if (${1:condition}): ?>
		${2}
	<?php else: ?>
		${3}
	<?php endif ?>
snippet if
	<?php if (${1:condition}): ?>
		${2}
	<?php endif ?>